#sigma_x {
    width: 30%;
    display: inline-block;
}

#sigma_y {
    width: 30%;
    display: inline-block;
}

#sigma_s {
    width: 30%;
    display: inline-block;
}

#epsilon_x {
    width: 30%;
    display: inline-block;
}

#epsilon_y {
    width: 30%;
    display: inline-block;
}

#epsilon_s {
    width: 30%;
    display: inline-block;
}

#correlation_x {
    width: 30%;
    display: inline-block;
}

#correlation_y {
    width: 30%;
    display: inline-block;
}

#correlation_s {
    width: 30%;
    display: inline-block;
}

#energy {
    width: 30%;
    display: inline-block;
}

#energy_spread {
    width: 30%;
    display: inline-block;
}

#right_panel_container {
    width:35%;
    position:fixed;
    float:right;
    right: 0;
}

.dvarLabel {
    display: inline-block;
    width: 33%;
}

.numericInput {
    display: inline-block;
    width: 33%;
}

.dvarContainer {
    display: inline-block;
    width: 100%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
